.project-container{
    display: flex;
    flex-direction: column;

}

.project-container .slick-prev {
    left: 20px;
    top: 83%;
    z-index: 1;

}

.project-container .slick-next {
    right: 20px;
    top: 83%;
    z-index: 1;

}

@media screen and (min-width: 768px) {
    .project-container .slick-next, .project-container .slick-prev{
        top: 70%;
    }
    
}

@media screen and (min-width: 1024px){

    .project-container .slick-next, .project-container .slick-prev{
        top: 50%;
    }
    
}

    



