
.about-container{
    display: flex;
    height: 90vh;
    background: #1C1D1E;
    justify-content: center;
    flex-direction: column;
    padding: 0 70px; 

}

.about-container h1{
    font-size: 3rem;
    padding: 0 80px;
    margin-bottom: 40px;
}

.about-container h2{
    font-size: 2rem;
}

.card-title{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 80px;
    gap: 70px;
}

.card-container {
    padding: 0 80px;
}

.card-skill{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    text-align: center;
    margin: 20px 0;
}

.card-skill h3{
    color: white;
    background-color: #161719;
    padding: 10px;
    border: #7C5FE6 4px solid;
    border-radius: 10px;

}









