.hero-container{
    background: #1C1D1E;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-container{
    margin-top: 20px;
    margin-bottom: 10px;
}

button{
    margin: 20px 10px;
}

.hero-container h1{
    font-size: 1.7rem;
}

.hero-container h5{
    color: #FFF;
    font-weight: bold;
}

.hero-container h2{
    color: #7C5FE6;
    font-size: 1.2rem;
}



.nav-hero{
    display: flex;
}

.hero-container .nav-hero li{
    list-style: none;
    margin: 10px;
    
}

/* .hero-container .nav-hero li h5{
    color: #7C5FE6
} */

.hero-container .nav-hero li h5:hover{
    color: #fff;
    cursor: pointer;
    font-size: 14.5px;
    
}

@media screen and (min-width: 768px){
    .hero-container h1{
        font-size: 2.5rem;
    }

    .nav-hero{
        display: none;
    }




}

@media screen and (min-width: 1024px){
    .hero-container h1{
        margin: 0;
    }


}

@media screen and (min-width: 1024px){
    .hero-container h1{
        font-size: 4rem;
    }

    .hero-container h2{
        font-size: 2rem;
    }

    .hero-container h5{
        font-size: 1.5rem;
    }
}