.hero-container{
    background: #1C1D1E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-container .hero-foto {
    margin-top: 30px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: #7C5FE6 4px solid;
}

.hero-container .hero-foto img{
    height: 100%;
}

.btn-container{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}



.hero-container h1{
    font-size: 1.7rem;
    text-align: center;
    margin: 0;
    padding: 10px;
}


.hero-container h2{
    color: #7C5FE6;
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
    padding: 10px;
    margin-top: 20px;
}

p{
    color: #9F9D9D;
    font-style: italic;
    padding: 10px;
    margin: 0 10px;
}

.btn-icon{
    color: #fff;
    
}

.btn-icon:hover{
    color: #7C5FE6;
}

@media screen and (min-width: 768px){
    .hero-container h1{
        font-size: 2.5rem;
    }

    .nav-hero{
        display: none;
    }




}

@media screen and (min-width: 1024px){
    .hero-container{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .hero-container h1{
        margin: 0;
    }

    


}

/* @media screen and (min-width: 1440px){
    .hero-container h1{
        font-size: 4rem;
    }

    .hero-container h2{
        font-size: 2rem;
    }

    .hero-container h5{
        font-size: 1.5rem;
    }
} */