.project-card-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr) ;
}

.tag img{
    height: 30px;

}

.card-img{
    width: 300px;
}

 .project-card-container .card-content .desc-card{
    margin: 0px 10px;
    padding: 5px 10px;
   
} 

.project-card-container .card-content .card-btn{
    text-align: center;
    margin-top: 5px;
    
}

.project-card-container .btn-container{
    margin: 10px 0 0 0;
}

.project-card-container .card-content .tag{
    display: flex;
    justify-content: center;
    background-color:rgba(124, 95, 230, 0.3);
    margin: 10px 20px 20px;
    border-radius: 10px;
}

.project-card-container .card-content .tag img{
    margin: 10px;
}

.project-card-container .card-content .card-btn a{
    margin: 10px;
}

.project-card-container .card-img{
    width: 80vw;
    margin: auto;
    border-radius: 16px;
    background-color: #dbe0e409;
    border: #7C5FE6 4px solid;

}

.project-card-container .card-img img{
    width: 100%;
    border-radius: 16px;
}

@media screen and (min-width: 768px) {

    .project-card-container .card-content .desc-card{
        
        margin: 0 30px;
    }

    

    .project-card-container .card-content .tag{
        margin: 10px 40px 20px;

    }

    .project-card-container .card-img{
        max-width: 500px;
        
    }
   
      
  }

  @media screen and (min-width: 1024px){

    .project-card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 70px;
        padding: 20px 80px;
        align-items: center;
    }

    .project-card-container .card-img{
        max-width: 400px;
        overflow: hidden;
        max-height: 350px;
        flex-direction: column; 
    }

    .project-card-container .card-content p{
        padding: 10px 0px;
    }

    .project-card-container .card-content .desc-card{
        font-size: 1.2rem;
        margin: 0;
    }

    .project-card-container .card-content .tag{
        margin: 10px 10px 20px;

    }

    .card-btn{
        display: flex;
        justify-content: space-between;
    }

    .card-btn .btn-container{
        display: flex;
        
    }

    .card-btn .btn-container .desc-icon{
        padding: 0;
    }

  }

  @media screen and (min-width: 1440px){

    .project-card-container .card-img{
        max-width: 600px;
        max-height: 450px;
    }

    .project-card-container .card-content p{
        font-size: 1.2rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .project-card-container .card-content .tag{
        margin: 30px 10px 20px;

    }

    .project-card-container .card-content .tag img{
        height: 40px;
        margin: 10px 20px;
        
    }

    .project-card-container .card-content  a{
        font-size: 1.3rem;
        
    }
    .card-btn .btn-container .desc-icon{
        margin: 0;
    }

    .card-btn .btn-container{
        justify-content: center;
        align-items: center;
    }


  }
